ul{
    margin: 0 auto;
    padding: 0;
}
ul.twitterUL li{
    text-align: left;
    float: left;
    list-style: none;
    padding: 3px 10px 3px 10px;
    margin: 5px;
   margin-left:-5px;
    border: 0px solid #CCC;	
}

#links {
	margin-left: 50px;
	width: 150px;
	float: left;
        text-align:left;
}
#rechts{
     margin-left: 50px;
     width: 150px;
     float: left;
     text-align:left;
}
body {
	background-color: #fff;
	margin: 0px 0px 0px 0px;
	color: #000;
	font-family: verdana;
	font-size: 10px;	
	background-repeat:no-repeat;	
	background-position:top center;
    background-attachment: scrolling;
    text-align:center;
}

a:link {
	text-decoration: none;
	color: #1b88a6;
}
a:visited {
	text-decoration: none;
	color: #1b88a6;
}
a:hover {
	text-decoration: underline;
	color: #1b88a6;
}
a:active {
	text-decoration: none;
	color: #1b88a6;
}


#site_container {
width: 1024px;
height: 100%;
text-align:left;
margin-left: -512px;
position: absolute;
left: 50%;
float: left;
/*background-image:url(../images/bg_01.jpg);*/
}
#mainNav{
	float: left;
	width: 200px;
	margin-top: 225px;
        margin-left: 10px;
	
}
#menu {
	/*background: #fff;*/
	color: #fff;
	float: left;
        text-align:left;
	list-style: none;
	margin: 0;
	padding: 0;
	width: 200px;
	font-size: 15px;
	font-weight: bolder;
	letter-spacing: -1px;
}
#menu li {
	margin: 0;
	padding: 0;
}
#menu a {
	display: block;
	color: #000;
	padding: 5px 10px;
	text-decoration: none;
}
#menu a:hover {
	background: #000;
	color: #fff;
}
#blog {
	margin-left: 0px;
	margin-top: 225px;
	width:550px;
	background-position: top left;
	float: left;
	/*background-image:url(../images/bg_news.jpg);*/
	/*overflow: auto;*/
	}
#tiwtters {
	margin-left: 55px;
	margin-top: 205px;
	width: 150px;
	float: left;
}
.subHeader {
	display: block;
	width: 550px;
	color: #fff;
	background: #000;
	font-weight: bolder;
	font-size: 15px;
	padding: 5px 10px;
       letter-spacing: -1px;
}
.blog_header {
	background-color: #000;
	padding: 4px 4px 4px 4px;
	color: #000;
	width: 550px;
	height:30px;
	text-align:left;
	font-size: 15px;
	font-weight: bolder;
	background-color: #fff;
	letter-spacing: -1px;
}
.blogcontent {
	margin: 8px 8px 8px 8px;
	width: 550px;
	line-height: 14px;
}
.blog_body {
	margin: 4px 0px 4px 0px;
	padding: 4px 4px 4px 4px;
	width: 550px;
	text-align:justify;
}
.blog_footer {
	padding: 4px 4px 4px 4px;
	width: 550px;
	text-align: right;
	border-bottom: dashed 1px #000;
	margin-bottom:50px;
}
.video_footer
{
	padding: 4px 4px 4px 4px;
	width: 550px;
	margin-bottom:50px;
}